
.DS_Store

task1/almost_harmless.txt

task1/file1.txt

task2/test.htm

task2/test2.htm

task3/loggen.py

task3/quantile.png

task3/sample.log

task1/file2.txt

task1/filez.txtet.tmp

task1/mkdir hh.txt
